:root {
  --main-green: #849D8F;
  --main-blue: #8996A6;
  --main-grey: #9D8B84;
  --input-grey: #999999;
  --text-white: #FFFFFF;
  --black-main: #323232;
  --rose-extralight: #FBDED7;
  --rose-light: #FFBC9E;
  --rose-normal: #F6B5A5;
  --rose-dark: #E84D37;
  --rose-extradark: #D07058;
  --black-link: #323232;
  --nude-bg: #FEFEFE;
  --blue-hover: rgba(46, 136, 228, 0.52);
  --button-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-opasity: rgba(255, 255, 255, 0.2);
  --button-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  --text-button-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --sircle-hover: rgba(255, 255, 255, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--main-green);
  color: var(--text-white);
  font-family: Roboto, "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  max-width: 1200px;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.link {
  position: relative;
  text-decoration: none;
}
.link::after {
  bottom: 0;
  content: '';
  border-bottom: 1px solid currentColor;
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin: 0 auto;
  max-width: 1146px;
}

.pop-up {
  display: none;
}

.button {
  background-image: var(--button-gradient);
  border: none;
  border-radius: 70px;
  box-shadow: var(--button-shadow);
  color: var(--text-white);
  font-weight: bold;
  text-shadow: var(--text-button-shadow);
}
.button-banner {
  font-size: 18px;
  line-height: 24px;
  min-width: 164px;
  padding: 12px 22px;
}

.subscribe_button {
  font-size: 18px;
  line-height: 24px;
  min-width: 130px;
  padding: 10px 19px;
}

.nav-button_cart {
  background-color: var(--text-white);
  border-radius: 20px;
  color: var(--black-main);
  font-size: 14px;
  line-height: 16px;
  padding: 9px 15px;
}

.main-navigation {
  line-height: 18px;
}
.main-navigation li {
  list-style: none;
}
.main-navigation a {
  color: var(--text-white);
}
.main-navigation a:hover {
  background-color: var(--rose-extralight);
}
.main-navigation a:active {
  background-color: var(--rose-normal);
}
.main-navigation a:not([href]) {
  background-color: var(--rose-extradark);
}

.user-navigation {}

.nav-search {
  background: rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
}

.nav-button {
  background: rgba(255, 255, 255, 0.2);
  width: 92px;
  height: 32px;
  border-radius: 20px;
  border: none;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
}

.nav-time {
  line-height: 18px;
}

.nav-phone {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-white);
}

.site-navigation a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-white);
}

.site-navigation li {
  list-style: none;
}

.banner-berry {
  background-image: url(../img/promo-berry.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.banner-choko {
  background-image: url(../img/promo-choko.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.banner-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: var(--text-white);
}

.banner-content {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: var(--text-white);
}

.banner a{
  text-decoration: none;
}

.hit-description{
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: var(--text-white);
}

.hit-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: var(--text-white);
  text-shadow: var(--text-shadow);
}

.ice-cream_price {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-shadow: var(--text-shadow);
}

.ice-cream li {
  list-style: none;
}

.ice-cream a {
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-white);
}

.ice-cream img {
  border-radius: 50%;
}

.hit-label {
  background-color: var(--text-white);
  border-radius: 50%;
}

.about {
  color: var(--black-main);
  background-image: url("../img/vaffle-pattern.svg");
}

.about_title {
  font-size: 24px;
  line-height: 30px;
}

.about_ice-cream::before {
  content: url(../img/about-ice.svg);
}

.about_natural::before {
  content: url("../img/about-green.svg");
}

.about_farm::before {
  content: url("../img/about-cow.svg");
}

.about_termo::before {
  content: url("../img/about-termo.svg");
}

.blog {
  background-image: url("../img/strawberry-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-title {
  color: var(--black-main);
  font-size: 16px;
  line-height: 22px;
}

.blog-text {
  max-width: 287px;
}

.blog a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black-main);
}

.subscribe {
  background-image: url("../img/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.subscribe-text {
  color: var(--black-main);
  font-size: 16px;
  line-height: 22px;
}

.subscribe input[type=email] {
  color: var(--input-grey);
  min-width: 368px;
  padding: 10px 204px 10px 14px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
}

.contacts {
  border-radius: 16px;
  background-color: var(--nude-bg);
}
.contacts p {
  font-size: 14px;
  line-height: 20px;
  color: var(--black-main);
}
.contacts address,
.contacts_phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--black-main);
}
.contacts_button {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 26px;
}

.footer {}

.footer-social {}
.footer-social__list {}
.footer-social__item {
  list-style: none;
}
.footer-social__link {}
.footer-social__icon {
  display: block;
}

.footer-menu {}
.footer-menu__list {}
.footer-menu__item {
  list-style: none;
}
.footer-menu__item_heart {
  font-weight: bold;
}
.footer-menu__item_heart::before {
  content: url("../img/footer-heart-icon.svg");
  left: -22px;
  position: absolute;
  top: 0;
}
.footer-menu__link {
  color: var(--text-white);
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.footer-author {
  color: var(--text-white);
  font-size: 12px;
  line-height: 18px;
}
.footer-author__link {
  color: var(--text-white);
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.footer-author__image {}
.footer-author__text {}
