
/*основные стили START*/
:root {
  --main-green: #849D8F;
  --main-blue: #8996A6;
  --main-grey: #9D8B84;
  --input-grey: #999999;
  --text-white: #FFFFFF;
  --black-main: #323232;
  --rose-extralight: #FBDED7;
  --rose-light: #FFBC9E;
  --rose-normal: #F6B5A5;
  --rose-dark: #E84D37;
  --rose-extradark: #D07058;
  --black-link: #323232;
  --nude-bg: #FEFEFE;
  --bg-grey: #F8F7F4;
  --bg-button-grey: #EDEDED;
  --blue-hover: rgba(46, 136, 228, 0.52);
  --button-pressed-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-hover-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-opasity: rgba(255, 255, 255, 0.2);
  --button-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  --text-button-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  --button-hover-shadow: 0px 2px 2px #AC1000;
  --button-pressed-shadow: inset 0px 2px 2px #942718;
  --sircle-hover: rgba(255, 255, 255, 0.4);
  --bg-white-hover: rgba(0, 0, 0, 0.2);
  --form-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--main-green);
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--text-white);
  font-family: Roboto, "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
  max-width: 1230px;
  padding: 9px 15px;
  height: 100%;
}
img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 27px;
}
.nav-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.site-page-1 {
  background-color: var(--main-green);
  background-image: url("../img/group-1.png");
}
.site-page-2 {
  background-color: var(--main-blue);
  background-image: url("../img/group-3.png");
}
.site-page-3 {
  background-color: var(--main-grey);
  background-image: url("../img/group-2.png");
}




.link {
  position: relative;
  text-decoration: none;
}
.link::after {
  bottom: 0;
  content: '';
  border-bottom: 1px solid currentColor;
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
}
.popup {
  display: none;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.input[type=email]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}
.input[type=email]:focus-within {
  color: var(--black-main);
}
/*основные стили END*/


/*разметка страницы START*/
.page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: fit-content(114px) auto fit-content(103px);
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.page-header {
  grid-area: header;
}
.main-page {
  width: 100%;
  grid-area: main;
}
.page-footer {
  grid-area: footer;
}
/*разметка страницы END*/


/*разметка  header START*/

.header-logo {
  max-width: 154px;
}
.header-logo__link {
  width: 100%;
}


.header__main {
  flex-grow: 1;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0px 32px 24px;
}
.main-navigation__list {
  margin: -11px 0 0 0;
  padding: 0;
  min-width: 357px;
  display: flex;
  position: relative;
}
.main-navigation__item {
  display: block;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
.main-navigation__item + .main-navigation__item {
  margin-left: 2px;
}
.main-navigation__item_current {}
.main-navigation__item-link {
  border-radius: 26px;
  display: block;
  color: var(--text-white);
  text-decoration: none;
  padding: 7px 15px;
}
.main-navigation__item-link:active {
  background: var(--bg-button-grey);
  box-shadow: inset 0px 2px 1px #696969;
}
.main-navigation__item-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-navigation__item-link_current {
  background-color: var(--rose-extradark);
}
.main-navigation__item-link_current span {
  border-bottom: none;
}
.main-navigation__item:hover > .main-navigation__item-link {
  background-color: var(--text-white);
  color: var(--black-main);
}
.main-navigation__item:first-child:hover .main-navigation__submenu {
  display: block;
}


.main-navigation__submenu {
  position: absolute;
  background-color: var(--text-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  top: 34px;
  left: -10px;
  z-index: 1;
  padding: 0;
  display: none;
}
.main-navigation__submenu-item s{
  list-style: none;
}
.main-navigation__submenu-item:first-child {
  font-weight: bold;
  position: relative;
}
.main-navigation__submenu-item:first-child:after {
  content: url("../img/submenu-del.svg");
  width: 148px;
  position: absolute;
  top: 26px;
  left: 7px;
}
.main-navigation__submenu-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--black-main);
  text-decoration: none;
  display: block;
  padding: 13px 21px 4px 21px;
}
.main-navigation__submenu-link:hover {
  background-color: var(--rose-extralight);
}
.main-navigation__submenu-link:active {
  background-color: var(--rose-normal);
}

.main-navigation__login-field {
  position: absolute;
  width: 277px;
  height: 214px;
  background: var(--bg-grey);
  box-shadow: var(--form-box-shadow);
  border-radius: 4px;
  padding: 20px 17px 22px 19px;
  top: 37px;
  left: -140px;
}
.main-navigation__login-field input {
  width: 241px;
  height: 44px;
  font-size: 14px;
  margin-bottom: 20px;
  padding-left: 15px;
  outline: none;
}
.main-navigation__login-field:focus input {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
.main-navigation__login-field:focus-within input {
  color: var(--black-main);
}
.main-navigation__login-links a {
  font-size: 13px;
  text-decoration: none;
  color: var(--black-main);
}


.site-navigation {
  min-width: 224px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: left;
  margin-top: -60px;
}
.site-navigation__item {
  list-style: none;
}
.site-navigation__list {
  display: flex;
  align-items: flex-end;
  min-width: 225px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 23px;
}
.site-navigation__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}



.user-navigation {
  position: relative;
  min-width: 244px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  min-height: 42px;
}

.nav-search__area {
  position: absolute;
  padding: 20px 15px 20px 15px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  left: -307px;
  top: 37px;
}
.nav-search__area input {
  width: 311px;
  height: 44px;
  font-size: 14px;
  outline: none;
  padding-left: 15px;
}
.nav-search__area:focus input{
  border: 2px solid rgba(46, 136, 228, 0.52);
}
.nav-search__area:focus-within input {
 color: var(--black-main);
}
.nav-time {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;
}
.nav-phone {
  font-size: 23px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-white);
  display: block;
  align-self: flex-end;
}
/*разметка  header END*/


/*разметка основная страница START*/
.main-area {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: fit-content(229px) fit-content(306px) fit-content(220px) fit-content(430px);
  row-gap: 40px;
  grid-template-areas:
    "banner"
    "ice-cream"
    "about"
    "blog-subscribe"
    "contacts";
}
.banner {
  grid-area: banner;
  padding: 0 27px 0px 27px;
}
.ice-cream {
  grid-area: ice-cream;
}
.about {
  grid-area: about;
}
.blog-subscribe {
  grid-area: blog-subscribe;
  display: flex;
  justify-content: space-between;
  margin: 0 28px 0 28px;
}
.contacts {
  grid-area: contacts;
}

/*разметка основная страница END*/


/*фильтры START*/
.section-filter__title {
  font-size: 35px;
  margin: 0 0 29px 0;
}
.section-filter__field {
  display: grid;
  grid-template-areas:
    'sort   price  fat    fat'
    'filler filler filler submit';
  grid-template-columns: 196px 218px 1fr 144px;
  grid-template-rows: repeat(2, 56px);
  grid-column-gap: 15px;
  grid-row-gap: 18px;
  width: 869px;
  margin-bottom: 40px;
}
.filter-field__sort {
  grid-area: sort;
}
.filter-field__filter-sort {
  color: var(--text-white);
  outline: none;
}
.filter-field__filter-sort:active {
  color: var(--black-main);
}
.filter-field__price {
  grid-area: price;
}
.filter-field__filter-price {
  display: block;
  padding: 9px 8px 14px 8px;
  position: relative;
  top: 0px;
  left: 0px;
}
.fiter-sort__main-line {
  width: 176px;
  height: 0px;
  border: 2px solid rgba(248, 247, 244, 0.5);
  position: absolute;
  top: 8px;
  left: 7px;
}
.fiter-sort__main-line:before {
  content: url("../img/filter-button.svg");
  position: absolute;
  left: 12px;
  top: -9px;
}
.fiter-sort__main-line:after {
  content: url("../img/filter-button.svg");
  position: absolute;
  right: 42px;
  top: -9px;
}
.fiter-sort__high-line {
  position: absolute;
  width: 106px;
  height: 1px;
  border: 2px solid #F8F7F4;
  right: 38px;
  top: -2px;
}
.filter-field__fat {
  grid-area: fat;
}
.filter-field__fat-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 54px;
}
.filter-field__fat-part + .filter-field__fat-part {
  margin-left: 20px;
}
.filter-field__fat-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.svg");
  margin-right: 11px;
  outline: none;
}
.filter-field__button {
  grid-area: submit;
  width: 144px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 24px;
  color: var(--text-white);
}
.filter-field__button:hover {
  background: var(--text-white);
  color: var(--black-main);
}
.filter-field__button:active {
  background: var(--text-white);
  color: var(--black-main);
  box-shadow: inset 0px 2px 1px #696969;
}
.filter-field__fat-button:checked {
  background-image: url("../img/radio-on.svg");
}
.filter-field__filler {
  grid-area: filler;
}
.filter-field__filler-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2px;
  min-width: 90px;
}
.filter-field__filler-part + .filter-field__filler-part {
  margin-left: 20px;
}
.filter-field__filler-check {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  margin-right: 8px;
  outline: none;
}
.filter-field__filler-check:checked {
  background-image: url("../img/checkbox-on.svg");
}
.filter-name {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 7px 16px;
}
.filter-field__area {
  background: none;
  border: none;
}
.filter-field__area-input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 7px 14px;
  display: flex;
  align-items: center;
}
/*фильтры END*/


/*кнопки START*/
.button {
  background-image: var(--button-gradient);
  border: none;
  box-shadow: var(--button-shadow);
  color: var(--text-white);
  font-weight: bold;
  text-shadow: var(--text-button-shadow);
  outline: none;
  border-radius: 70px;
}
.button:hover {
  background-image: var(--button-hover-gradient);
  box-shadow: var(--button-hover-shadow);
}
.button:active {
  background-image: var(--button-pressed-gradient);
  box-shadow: var(--button-pressed-shadow);
}
.button_card {
  padding: 12px 16px;
  text-align: center;
  display: block;
  width: 200px;
  height: 44px;
  margin: 0 auto;
  border-radius: 50px
}
.button_banner {
  font-size: 18px;
  line-height: 24px;
  min-width: 164px;
  padding: 12px 22px;
  border-radius: 70px;

}
.button_navigation {
  font-size: 16px;
  line-height: 18px;
  padding: 9px 14px 11px 14px;
  border-radius: 26px;
}
.button_navigation:hover {
  background: var(--text-white);
  color: var(--black-main);
  text-shadow: none;
  box-shadow: none;
}
.button_navigation:active {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
}
.button_nav {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
  padding: 8px 16px 8px 16px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  margin-left: 8px;
  outline: none;
}
.button_nav:hover {
  background-color: var(--text-white);
  color: var(--black-main);
  cursor: pointer;
}
.button_nav path {
  fill: currentColor;
}
.button-nav_text {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  margin-left: 4px;
}
.button-nav_icon {
  vertical-align: middle;
}
.nav-search__button {
  background: rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  color: var(--text-white);
  outline: none;
}
.nav-search__button:hover {
  background-color: var(--text-white);
  color: var(--black-main);
  cursor: pointer;
}
.nav-search__button path {
  fill: currentColor;
}
.nav-search__icon {
  vertical-align: middle;
}
.nav-button_cart {
  background-color: var(--text-white);
  color: var(--black-main);
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 15px;
  margin-left: 9px;
}
.nav-button_cart:hover {
  background-color: var(--text-white);
  color: var(--black-main);
  cursor: pointer;
}
.button-nav_text {
  display: inline-block;
  vert-align: middle;
}
.button-slider {
  font-size: 32px;
  line-height: 44px;
  padding: 9px 40px 10px 40px;
  margin: 21px auto 0;
  width: 278px;
  display: block;
  text-decoration: none;
}
.button_banner {
  float: right;
  display: block;
  text-decoration: none;
}
.login-button {
  font-size: 18px;
  line-height: 16px;
  padding: 15px 26px 15px 25px;
  float: left;
  margin-right: 20px;
}
.call-back__button {
  font-size: 18px;
  padding: 14px 21px 14px 24px;
  margin-left: 294px;
}
/*кнопки END*/


/*карточки товара START*/
.item-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 24px;
  row-gap: 40px;
  margin: 0 0 80px 0;
  padding: 0 26px;
}
.item-card {
  height: 320px;
  display: block;
  position: relative;
  border-radius: 4px;
}
.item-card:hover {
  z-index: 2;
}
.item-card__main {
  margin: -10px;
  padding: 10px 10px 31px 10px;
  pointer-events: none;
}
.item-card:hover .item-card__main {
  background-color: var(--bg-white-hover);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}
.item-card .button_card {
  margin-top: 11px;
  opacity: 0;
}
.item-card:hover .button_card {
  opacity: 1;
}
.item-card__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 41px;
  text-shadow: var(--text-shadow);
  margin: 0;
  position: absolute;
  top: 211px;
}
.item-card__price>small {
  font-size: 30px;
}
.item-card__hit-label {
  background-color: var(--text-white);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.item-card__link {
  text-decoration-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 22px;
  color: var(--text-white);
  text-align: center;
  display: block;
}
.item-card__image {
  border-radius: 50%;
  margin-bottom: 7px;
}
/*карточки товара END*/


/*нумерация страниц каталога START*/
.page-list {
  list-style: none;
  float: right;
  display: flex;
  min-width: 212px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 18px 34px 0px;
}
.page-link {
  border-radius: 50%;
  color: var(--text-white);
  display: block;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  width: 26px;
}
.page-link_current {
  color: var(--black-main);
  background-color: var(--text-white);
}
.page-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/*нумерация страниц каталога END*/


/*хлебные крошки каталог START*/
.site-navigation__link {
  display: block;
}
.site-navigation__item {
  position: relative;
}
.site-navigation__item + .site-navigation__item::before  {
  content: url("../img/bread-points_arrow.svg");
  position: absolute;
  left: -14px;
  top: -4px;
}
/*хлебные крошки каталог END*/


/*рекламные баннеры главной START*/
.banner-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner-item {
  width: 560px;
  padding: 16px 22px 22px 16px;
  min-height: 229px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}
.banner__berry {
  background-image: url(../img/promo-berry.jpg);
}
.banner__choko {
  background-image: url(../img/promo-choko.jpg);
}
.banner-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: var(--text-white);
}
.banner-content {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: var(--text-white);
  height: 68px;
}
/*рекламные баннеры главной END*/

/*описание на главной START*/
.about {
  color: var(--black-main);
  background-image: url("../img/vaffle-pattern.svg");
  border-radius: 16px;
  margin-top: -75px;
  margin-left: 28px;
  margin-right: 28px;
  padding-top: 22px;
}
.about__title {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 12px 19px;
}
.about__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about__item {
  width: 540px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 9px;
  margin-top: -3px;
}
.about__icon {
  margin-right: 6px;
  margin-top: -4px;
}
.about__text {
  margin: 5px 0px 10px 0;
}
.about__green {
  margin-bottom: 5px;
}

/*описание на главной END*/


/*блог START*/

.blog {
  display: block;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  min-width: 560px;
  min-height: 220px;
  padding: 17px 20px;
}
.blog-title {
  color: var(--black-main);
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 3px 0;
}
.blog-text {
  max-width: 287px;
}
.blog a {
  text-decoration: underline;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--black-main);
}
/*блог END*/


/*рассылка START*/
.subscribe {
  min-width: 560px;
  background-image: url("../img/subscribe-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 28px 0 0 26px;
}
.subscribe-text {
  color: var(--black-main);
  font-size: 16px;
  line-height: 22px;
  display: block;
  width: 512px;
  margin: 0 0 40px 0;
}
.subscribe_button {
  font-size: 18px;
  line-height: 24px;
  min-width: 130px;
  padding: 10px 19px;
}
.subscribe input[type=email] {
  color: var(--input-grey);
  width: 368px;
  padding: 10px 0 10px 14px;
  margin-right: 7px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
}
.subscribe:focus-within input[type=email] {
  color: var(--black-main);
}
/*рассылка END*/


/*контакты START*/
.contacts {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.contacts__map {
  height: auto;
  width: 100%;
}
.contacts__info {
  width: 303px;
  min-height: 306px;
  background-color: var(--text-white);
  color: var(--black-main);
  font-size: 14px;
  line-height: 20px;
  border-radius: 16px;
  position: absolute;
  z-index: 1;
  top: 62px;
  right: 27px;
  padding: 28px 0 0 25px;
}
.contacts__adress {
  margin: 0;
}
.contacts__adress-description {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 7px;
}
.contacts__phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--black-main);
  text-decoration: none;
  display: block;
  margin: 3px 0 -14px 0;
}
.contacts__time {
  margin: 0 0 37px 0;
}
.contacts_button {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 28px;
}
/*контакты END*/


/*footer START*/
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 96px;
}
.footer-social__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.footer-social__item {
  list-style: none;
  margin-top: -6px;
}
.footer-social__icon {
  display: block;
  margin-right: 12px;
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.footer-social__link:hover .footer-social__icon {
  opacity: 1;
}
.footer-menu__list {
  display: flex;
  width: 321px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 16px;
}
.list__column_left {
  margin-right: 14px;
}
.footer-menu__item {
  list-style: none;
}
.footer-menu__item_heart {
  font-weight: bold;
  position: relative;
}
.footer-menu__item_heart::before {
  content: url("../img/footer-heart-icon.svg");
  position: absolute;
  left: -20px;
  top: 3px;
}
.footer-menu__link {
  color: var(--text-white);
  font-size: 13px;
  line-height: 18px;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.footer-author {
  color: var(--text-white);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7px 3px
}
.footer-author__link {
  color: var(--text-white);
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  margin-bottom: -13px;
}
.footer-author__image {}
.footer-author__text {
  color: var(--text-white);
  font-size: 12px;
  line-height: 18px;
}
.footer-author__text a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
/*footer END*/


/*слайдер START*/
.slider-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.slider {
  list-style: none;
  margin-top: 258px;
  margin-bottom: 40px;
  padding: 0;
}
.slide {
  display: none;
}
.slide-current {
  display: block;
}
.slide-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  display: block;
  margin: 0 264px;
  text-align: center;
  padding-top: 18px;
}
.slider-controls {
  position: absolute;
  bottom: 24px;
  left: 27px;
  z-index: 20;
  display: flex;
  width: 83px;
  justify-content: space-between;
  outline: none;
}
.slider-controls .current {
  background-color: #ffffff;
}
.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}
/*слайдер END*/


/*обратная связь START*/
.call-back {
  position: absolute;
  z-index: 1;
  top: 329px;
  left: 484px;
}
.call-back form {
  width: 477px;
  height: 441px;
  background-color: var(--bg-grey);
  padding: 20px 25px 27px 23px;
  border-radius: 6px;
  position: relative;
}
.call-back input {
  width: 267px;
  height: 44px;
  font-size: 16px;
  padding-left: 14px;
  color: var(--input-grey);
  outline: none;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}
.call-back:focus-within input {
  color: var(--black-main);
}
.call-back textarea {
  width: 428px;
  height: 154px;
  font-size: 16px;
  padding: 16px 0 0 14px;
  color: var(--input-grey);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-bottom: 25px;
}
.call-back__title {
  font-size: 24px;
  color: var(--black-main);
  margin: 0 0 26px 0;
}
.call-back__reset {
  position: absolute;
  top: 17px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 24px;
}
/*обратная связь END*/
