:root {
  --base-radius: 4px;

  --main-green: #849D8F;
  --main-blue: #8996A6;
  --main-grey: #9D8B84;
  --input-grey: #999999;
  --text-white: #FFFFFF;
  --black-main: #323232;
  --black-light: #5A5A5A;
  --rose-extralight: #FBDED7;
  --rose-light: #FFBC9E;
  --rose-normal: #F6B5A5;
  --rose-dark: #E84D37;
  --rose-extradark: #D07058;
  --black-link: #323232;
  --nude-bg: #FEFEFE;
  --bg-grey: #F8F7F4;
  --bg-button-grey: #EDEDED;
  --blue-hover: rgba(46, 136, 228, 0.52);
  --button-pressed-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-hover-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --button-opasity: rgba(255, 255, 255, 0.2);
  --button-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  --button-hover-shadow: 0 2px 2px #AC1000;
  --button-pressed-shadow: inset 0 2px 2px #942718;
  --text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  --text-button-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  --circle-hover: rgba(255, 255, 255, 0.4);
  --bg-white-hover: rgba(0, 0, 0, 0.2);
  --form-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  --range-line: rgba(248, 247, 244, 0.5);
  --input-border: rgba(178, 178, 178, 0.52);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
}
img {
  height: auto;
  max-width: 100%;
}

.clearfix {}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 1146px;
}
.container_big {
  width: 1200px;
}

.link {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) calc(100% - 2px), rgba(255, 255, 255, 0.2) calc(100% - 2px), rgba(255, 255, 255, 0.2) calc(100% - 1px), rgba(255, 255, 255, 0) calc(100% - 1px), rgba(255, 255, 255, 0));
  text-decoration: none;
}

/* Button */

.button {
  background-image: var(--button-gradient);
  border: none;
  border-radius: 100px;
  box-shadow: var(--button-shadow);
  color: var(--text-white);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  min-height: 44px;
  outline: none;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: var(--text-button-shadow);
}
.button_large {
  font-size: 32px;
  line-height: 40px;
  padding: 11px 41px 12px 40px;
}
.button:hover {
  background-image: var(--button-hover-gradient);
  box-shadow: var(--button-hover-shadow);
}
.button:active {
  background-image: var(--button-pressed-gradient);
  box-shadow: var(--button-pressed-shadow);
}

/* Check button group */

.check-button-group {
  border: none;
  margin: 0;
  padding: 0;
}
.check-button-group__label {
  color: var(--text-white);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: -3px 0 10px 16px;
}
.check-button-group__items {
  align-items: center;
  background-color: var(--button-opasity);
  border-radius: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 6px 16px;
}
.check-button-group__items .check-button + .check-button {
  margin-left: 20px;
}

.check-button-group__items .check-button:nth-child(3) {
  margin-left: 23px;
}
.check-button-group__items .check-button:nth-child(3) .check-button__label {
  padding-left: 6px;
}
.check-button-group__items .check-button:nth-child(4) {
  margin-left: 25px;
}
.check-button-group__items .check-button:nth-child(5) {
  margin-left: 21px;
}
.check-button-group__items .check-button:nth-child(5) .check-button__label {
  padding-left: 5px;
}

/* Check button */

.check-button {
  white-space: nowrap;
}
.check-button__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/checkbox-off.svg");
  background-position: 0 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
.check-button__input:checked {
  background-image: url("../img/checkbox-on.svg");
}
.check-button__label {
  color: var(--text-white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 4px;
  vertical-align: middle;
}

/* Radio button group */

.radio-button-group {
  border: none;
  margin: 0;
  padding: 0;
}
.radio-button-group__label {
  color: var(--text-white);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 7px 16px;
}
.radio-button-group__items {
  align-items: center;
  background-color: var(--button-opasity);
  border-radius: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 6px 13px;
}
.radio-button-group__items .radio-button + .radio-button {
  margin-left: 18px;
}

/* Radio button */

.radio-button {
  white-space: nowrap;
}
.radio-button__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/radio-off.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
.radio-button__input:checked {
  background-image: url("../img/radio-on.svg");
}
.radio-button__label {
  color: var(--text-white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-left: 6px;
  vertical-align: middle;
}

/* Text field */

.text-field {}
.text-field__label {}
.text-field__input {
  background: var(--text-white);
  border: 1px solid var(--input-border);
  border-radius: var(--base-radius);
  box-shadow: inset 0 0 0 0 var(--input-border);
  color: var(--black-main);
  display: block;
  font-size: 16px;
  font-weight: bold;
  min-height: 44px;
  outline: none;
  padding: 12px 14px;
  width: 100%;
}
.text-field__input:hover {
  border-color: var(--input-border);
  box-shadow: inset 0 0 0 1px var(--input-border);
}
.text-field__input:focus {
  border-color: var(--blue-hover);
  box-shadow: inset 0 0 0 1px var(--blue-hover);
}
.text-field__input::placeholder {
  color: var(--input-grey);
  font-weight: normal;
}

/* Price field */

.price-field-group {
  border: none;
  margin: 0;
  padding: 0;
}
.price-field-group__label {
  color: var(--text-white);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 7px 16px;
}
.price-field-group__input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  display: inline-block;
  font: inherit;
  height: 16px;
  padding: 0;
  text-align: right;
  vertical-align: top;
  width: 24px;
}
.price-field-group__input::-webkit-inner-spin-button,
.price-field-group__input::-webkit-outer-spin-button {
  display: none;
}
.price-field-group__items {
  background-color: var(--button-opasity);
  border-radius: 20px;
  height: 36px;
  padding: 17px 21px;
  position: relative;
}
.price-field-group__items::before {
  background: rgba(248, 247, 244, 0.25);
  content: '';
  height: 2px;
  left: 18px;
  position: absolute;
  right: 18px;
  top: calc(50% - 1px);
}
.price-field-group__fill {
  background: #F8F7F4;
  background-clip: content-box;
  height: 100%;
}
.price-field-group__range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  display: block;
  height: 36px;
  left: 0;
  outline: none;
  padding: 6px 11px;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.price-field-group__range::-webkit-slider-container {
  background: transparent;
}
.price-field-group__range::-moz-range-thumb {
  background: #ABABAB;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  height: 20px;
  pointer-events: all;
  width: 20px;
}
.price-field-group__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #ABABAB;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  height: 20px;
  pointer-events: all;
  width: 20px;
}
.price-field-group__range_min {
  top: 0;
}
.price-field-group__range_max {
  top: -1px;
}

/* Select */

.select {}
.select__label {
  color: var(--text-white);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 7px 16px;
}
.select__input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-opasity);
  background-image: url("../img/select-arrow.svg");
  background-position: 93% 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  color: var(--text-white);
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  padding: 0 36px 2px 16px;
  width: 100%;
}
.select__input option {
  color: var(--black-main);
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 18px 0 0 0;
}
.breadcrumbs__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs__item {
  color: var(--text-white);
  font-size: 14px;
  letter-spacing: 0.05px;
  line-height: 20px;
  position: relative;
}
.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 22px;
}
.breadcrumbs__item + .breadcrumbs__item::before  {
  content: url('data:image/svg+xml;utf8,<svg height="6" width="6" viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg"><path d="M2.15561 3L0 0.666562L0.615764 0L3.38714 3L0.615764 6L0 5.33344L2.15561 3Z" fill="white" /><path d="M4.76847 3L2.61286 0.666562L3.22863 0L6 3L3.22863 6L2.61286 5.33344L4.76847 3Z" fill="white" /></svg>');
  left: -14px;
  position: absolute;
  top: -1px;
}
.breadcrumbs__link {
  color: inherit;
  display: block;
  text-decoration: none;
}

/* Pagination */

.pagination {
  margin: 80px -9px 30px 0;
}
.pagination__list {
  display: flex;
  /* gap: 4px; */
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination__item {
  margin-left: 4px;
}
.pagination__item_prev {
  margin-left: 0;
  margin-right: 3px;
}
.pagination__item_next {
  margin-left: 8px;
}
.pagination__link {
  border-radius: 13px;
  color: var(--text-white);
  display: block;
  font-size: 16px;
  line-height: 18px;
  min-width: 26px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}
.pagination__link:hover {
  background-color: var(--button-opasity);
}
.pagination__link:active {
  color: var(--black-main);
  background-color: var(--text-white);
}
.pagination__link_current,
.pagination__link_current:hover,
.pagination__link_current:active {
  color: var(--black-main);
  background-color: var(--text-white);
}
.pagination__icon {
  display: block;
  height: 100%;
  object-fit: none;
  object-position: center;
  width: 100%;
}

.page {
  background-color: var(--main-green);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 100% 656px;
  display: grid;
  grid-template-areas:
    'page-header'
    'page-main'
    'page-footer';
  grid-template-rows:
    min-content
    1fr
    min-content;
  min-height: 100vh;
}
.page[data-slide="1"] {
  background-color: var(--main-green);
}
.page[data-slide="2"] {
  background-color: var(--main-blue);
}
.page[data-slide="3"] {
  background-color: var(--main-grey);
}
.page__header {
  grid-area: page-header;
  position: relative;
  z-index: 10;
}
.page__main {
  grid-area: page-main;
}
.page__footer {
  grid-area: page-footer;
}

.page-header {
  padding: 9px 0;
}
.page-header__line-1 {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-areas: 'page-logo page-menu . page-search page-auth page-cart';
  grid-template-columns: max-content max-content 1fr max-content max-content max-content;
}
.page-header__line-2 {}
.page-header__logo {
  grid-area: page-logo;
}
.page-header__menu {
  grid-area: page-menu;
  margin-left: -1px;
  margin-top: -1px;
}
.page-header__search {
  grid-area: page-search;
}
.page-header__auth {
  grid-area: page-auth;
}
.page-header__cart {
  grid-area: page-cart;
}
.page-header__info {
  position: absolute;
  right: 0;
  top: 100%;
}

.page-footer {}
.page-footer__line {
  align-items: center;
  border-top: 1px solid var(--button-opasity);
  display: grid;
  grid-template-areas: 'social . menu . author';
  grid-template-columns: max-content 232px max-content 1fr max-content;
  min-height: 104px;
  margin-top: -1px;
  padding: 18px 0;
}
.page-footer__social {
  grid-area: social;
}
.page-footer__menu {
  grid-area: menu;
}
.page-footer__author {
  grid-area: author;
}

.header-logo {
  height: 60px;
}
.header-logo__link {
  display: block;
}
.header-logo__image {
  display: block;
}

.header-menu {}
.header-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-menu__list_level-1 {
  display: flex;
  /* gap: 4px; */
}
.header-menu__list_level-2 {
  background-color: var(--text-white);
  border-radius: var(--base-radius);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  display: none;
  left: -6px;
  min-width: 143px;
  overflow: hidden;
  padding: 3px 0 5px 0;
  position: absolute;
  top: 36px;
}
.header-menu__item {}
.header-menu__item_level-1 {
  position: relative;
}
.header-menu__item_level-1 + .header-menu__item_level-1 {
  margin-left: 8px;
}
.header-menu__item_level-1 + .header-menu__item_level-1 + .header-menu__item_level-1 {
  margin-left: 6px;
}
.header-menu__item_level-2 {}
.header-menu__link {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  user-select: none;
}
.header-menu__link_current {}
.header-menu__link_level-1 {
  border-radius: 26px;
  color: var(--text-white);
  height: 31px;
  letter-spacing: 0.04px;
  line-height: 20px;
  padding: 5px 13px;
  position: relative;
  z-index: 1;
}
.header-menu__link_level-1 .link {
  display: block;
}
.header-menu__item_level-1::after {
  bottom: -4px;
  content: '';
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.header-menu__item_level-1:hover::after {
  display: block;
}
.header-menu__item_level-1:hover > .header-menu__link_level-1,
.header-menu__item_level-1:focus-within > .header-menu__link_level-1 {
  background-color: var(--text-white);
  color: var(--black-main);
  text-decoration: none;
}
.header-menu__link_level-1:active {
  background: #EDEDED;
  box-shadow: inset 0 2px 1px #696969;
  color: var(--black-main);
}
.header-menu__link_level-1.header-menu__link_current {
  background-color: var(--rose-extradark);
  text-decoration: none;
}
.header-menu__link_level-1.header-menu__link_current .link {
  background: none;
}
.header-menu__link_level-2 {
  color: #323232;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  padding: 6px 20px 6px 21px;
  white-space: nowrap;
}
.header-menu__link_level-2:hover,
.header-menu__link_level-2:focus {
  background-color: var(--rose-extralight);
}
.header-menu__link_level-2:active {
  background: #F6B5A5;
}
.header-menu__link_level-2.header-menu__link_current {
  background: #D07058;
  color: #FFFFFF;
}
.header-menu__divider {
  background-clip: content-box;
  background-color: rgba(50, 50, 50, 0.2);
  height: 1px;
  margin: 3px 0 4px 0;
  padding: 0 9px 0 6px;
}
.header-menu__item_level-1:hover .header-menu__list_level-2,
.header-menu__item_level-1:focus-within .header-menu__list_level-2 {
  display: block;
}

.header-search {
  position: relative;
}
.header-search::after {
  bottom: -4px;
  content: '';
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.header-search:hover::after {
  display: block;
}
.header-search__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-opasity);
  border: none;
  border-radius: 16px;
  color: var(--text-white);
  cursor: pointer;
  height: 32px;
  min-width: 32px;
  padding: 8px;
  position: relative;
  z-index: 1;
}
.header-search__button:hover {
  background-color: var(--text-white);
  color: var(--black-main);
}
.header-search__icon {
  fill: currentColor;
}
.header-search__content {
  background: var(--bg-grey);
  border-radius: var(--base-radius);
  box-shadow: var(--form-box-shadow);
  display: none;
  padding: 20px 15px 20px 15px;
  position: absolute;
  right: 0;
  top: 36px;
  width: 341px;
  z-index: 1;
}
.header-search__content .text-field__input {
  font-size: 14px;
  padding-left: 14.5px;
  padding-top: 10px;
}
.header-search__form {}
.header-search:hover .header-search__content,
.header-search:focus-within .header-search__content {
  display: block;
}

.header-auth {
  position: relative;
}
.header-auth::after {
  bottom: -4px;
  content: '';
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.header-auth:hover::after {
  display: block;
}
.header-auth__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-opasity);
  border: none;
  border-radius: 16px;
  color: var(--text-white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 16px;
  min-width: 32px;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
}
.header-auth__button:hover {
  background-color: var(--text-white);
  color: var(--black-main);
}
.header-auth__button span {
  vertical-align: top;
}
.header-auth__icon {
  fill: currentColor;
  margin: -2px 5px -2px 0;
  vertical-align: top;
}
.header-auth__content {
  background: var(--bg-grey);
  border-radius: var(--base-radius);
  box-shadow: var(--form-box-shadow);
  display: none;
  padding: 20px 17px 22px 19px;
  position: absolute;
  right: 0;
  top: 36px;
  width: 277px;
  z-index: 1;
}
.header-auth__form {
  display: grid;
  gap: 20px;
  grid-template-areas:
    'login    login'
    'password password'
    'submit   links';
  grid-template-columns: 103px 1fr;
}
.header-auth__login {
  grid-area: login;
}
.header-auth__login .text-field__input {
  font-size: 14px;
  padding-top: 10px;
}
.header-auth__password {
  grid-area: password;
}
.header-auth__password .text-field__input {
  font-size: 14px;
}
.header-auth__submit {
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.25);
  grid-area: submit;
  padding: 10px 23px 10px 22px;
  text-shadow: none;
}
.header-auth__links {
  grid-area: links;
}
.header-auth__links .link {
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0, rgba(50, 50, 50, 0) calc(100% - 2px), rgba(50, 50, 50, 0.3) calc(100% - 2px), rgba(50, 50, 50, 0.3) calc(100% - 1px), rgba(50, 50, 50, 0) calc(100% - 1px), rgba(50, 50, 50, 0));
  color: var(--black-main);
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
  margin: 2px 0;
  vertical-align: middle;
  white-space: nowrap;
}
.header-auth:hover .header-auth__content,
.header-auth:focus-within .header-auth__content {
  display: block;
}

.header-cart {
  position: relative;
}
.header-cart::after {
  bottom: -4px;
  content: '';
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.header-cart:hover::after {
  display: block;
}
.header-cart__button {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-opasity);
  border: none;
  border-radius: 16px;
  color: var(--text-white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  line-height: 16px;
  min-width: 32px;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
}
.header-cart__button:hover {
  background-color: var(--text-white);
  color: var(--black-main);
}
.header-cart__button_not-empty {
  background-color: var(--text-white);
  color: var(--black-main);
}
.header-cart__button span {
  vertical-align: top;
}
.header-cart__icon {
  fill: currentColor;
  margin: -2px 5px -2px 0;
  vertical-align: top;
}
.header-cart__content {
  background: var(--bg-grey);
  border-radius: var(--base-radius);
  box-shadow: var(--form-box-shadow);
  display: none;
  padding: 9px 14px 21px 15px;
  position: absolute;
  right: 0;
  top: 36px;
  width: 539px;
  z-index: 1;
}
.header-cart__content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.header-cart__content tbody td {
  color: #323232;
  font-size: 13px;
  height: 53px;
  line-height: 16px;
  padding: 20px 0 17px 0;
  vertical-align: top;
}
.header-cart__content tbody td:nth-child(1) {
  padding-bottom: 0;
  padding-top: 15px;
  text-align: left;
  width: 26px;
}
.header-cart__content tbody tr:nth-child(2) td:nth-child(1) {
  padding-top: 16px;
}
.header-cart__content tbody td:nth-child(2) {
  padding-bottom: 0;
  padding-top: 11px;
  text-align: left;
  width: 46px;
}
.header-cart__content tbody td:nth-child(3) {
  text-align: left;
}
.header-cart__content tbody td:nth-child(4) {
  color: #000000;
  text-align: right;
  white-space: nowrap;
}
.header-cart__content tbody td:nth-child(4) span {
  color: #ABABAB;
}
.header-cart__content tbody td:nth-child(5) {
  padding-left: 26px;
  padding-right: 20px;
  text-align: left;
  white-space: nowrap;
}
.header-cart__content tbody tr:last-child {
  height: 67px;
}
.header-cart__content tbody tr:last-child td {
  border-bottom: 1px solid #CACAC7;
  padding-bottom: 0;
}
.header-cart__content tfoot td {
  color: #323232;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px;
  height: 48px;
  padding: 1px 0.5px 0 0;
  text-align: right;
}
.header-cart__content tfoot td span {
  margin-left: 2px;
}
.header-cart__delete {
  background: transparent url("../img/icon-delete.svg") 50% 50% no-repeat;
  border: none;
  height: 22px;
  padding: 0;
  position: relative;
  width: 22px;
}
.header-cart__submit {
  box-shadow: 0 1px 2px rgba(172, 16, 0, 0.25);
  float: right;
  padding: 10px 15.5px;
  text-shadow: none;
}
.header-cart:hover .header-cart__content,
.header-cart:focus-within .header-cart__content {
  display: block;
}

/* TODO: несоответствие в макете */
.header-cart__button_not-empty {
  margin-left: -1px;
  padding-left: 14px;
  padding-right: 17px;
}
/* TODO: несоответствие в макете */
.header-cart__button_not-empty .header-cart__icon {
  margin-left: 2px;
  margin-right: 3px;
}

.header-info {
  color: var(--text-white);
  text-align: right;
}
.header-info__time {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 6px 0;
}
.header-info__phone {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  margin: 8px 0;
}
.header-info__phone a {
  color: inherit;
  text-decoration: none;
}

.footer-social {}
.footer-social__list {
  display: flex;
  /* gap: 12px; */
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social__item {}
.footer-social__item + .footer-social__item {
  margin-left: 8px;
}
.footer-social__link {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  display: block;
}
.footer-social__link:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1.0);
}
.footer-social__link:active {
  border-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 1.0);
}
.footer-social__icon {
  display: block;
  fill: currentColor;
}

.footer-info {}
.footer-info__list {
  display: grid;
  gap: 5px 10px;
  grid-template-columns: min-content min-content;
  list-style: none;
  padding: 4px 0 0 0;
  margin: 0;
}
.footer-info__item {
  padding-left: 22px;
}
.footer-info__item_heart {
  font-weight: bold;
  position: relative;
}
.footer-info__item_heart::before {
  content: url("../img/footer-heart-icon.svg");
  left: 0;
  position: absolute;
  top: 2px;
}
.footer-info__link {
  color: var(--text-white);
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  white-space: nowrap;
}

.footer-author {
  padding-right: 1px;
}
.footer-author__logo {
  margin: 0;
}
.footer-author__logo a {
  color: var(--text-white);
  display: block;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}
.footer-author__image {
  display: block;
}
.footer-author__text {
  color: var(--text-white);
  font-size: 12px;
  line-height: 18px;
  margin: 5px 0;
}
.footer-author__text a {
  color: inherit;
  text-decoration: none;
}

.section {}
.section + .section {
  margin-top: 40px;
}
.section_slider {}
.section_banners {}
.section_products-filter {}
.section_products {}
.section_about {}
.section_blog {}
.section_contacts {}

/* Slider */

.slider {
  height: 529px;
  position: relative;
  z-index: 1;
}
.slider-list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slider-list__item {
  display: none;
}
.slider-list__item_current {
  display: flex;
}
.slider-item {
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  position: relative;
}
.slider-item::before {
  background: url(../img/slider-light.svg) 50% 0 no-repeat;
  content: '';
  height: 966px;
  left: 50%;
  max-width: 1400px;
  position: absolute;
  top: -78px;
  transform: translateX(-50%);
  z-index: -1;
}
.slider-item__image {
  display: block;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: -78px;
  transform: translateX(-50%);
  z-index: -1;
}
.slider-item__title {
  color: var(--text-white);
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  margin: 0 auto 25px auto;
}
.slider-item__button {}

.slider-controls {
  position: absolute;
  top: 485px;
}
.slider-control {
  border: 2px solid;
  border-color: var(--text-white);
  border-radius: 50%;
  background: none;
  height: 21px;
  width: 21px;
}
.slider-control + .slider-control {
  margin-left: 4px;
}
.slider-control_current {
  background: var(--text-white);
}

/* Banners */

.banners {}
.banners__title {}
.banners__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.banners__item {
  min-height: 229px;
}

/* Banners item */

.banners-item {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  padding: 16px 22px 22px 16px;
  z-index: 10;
}
.banners-item_raspberry {
  background-image: url("../img/promo-berry.jpg");
}
.banners-item_chocolate {
  background-image: url("../img/promo-choko.jpg");
}
.banners-item__title {
  color: var(--text-white);
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 0;
}
.banners-item__content {
  color: var(--text-white);
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin: 16px 0;
}
.banners-item__button {
  height: 48px;
  padding: 13px 23px 13px 22px;
  place-self: end;
}
/* TODO: несоответствие в макете */
.banners-item_raspberry .banners-item__button {
  padding: 12px 22.5px 14px 22.5px;
}

/* Products filter */

.products-filter {
  align-items: end;
  display: grid;
  grid-template-areas:
    'sort   price  fat    fat'
    'filler filler filler submit';
  grid-template-columns: 196px 218px 1fr 144px;
  grid-template-rows: repeat(2, 56px);
  grid-column-gap: 15px;
  grid-row-gap: 18px;
  margin-bottom: 40px;
  width: 869px;
}
.products-filter__sort {
  grid-area: sort;
}
.products-filter__price {
  grid-area: price;
}
.products-filter__fat {
  grid-area: fat;
}
.products-filter__filler {
  grid-area: filler;
}
.products-filter__submit {
  background: var(--button-opasity);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  color: var(--text-white);
  grid-area: submit;
  height: 36px;
  width: 100%;
}
.products-filter__submit:hover {
  background: var(--text-white);
  color: var(--black-main);
  cursor: pointer;
}
.products-filter__submit:active {
  background: var(--text-white);
  box-shadow: inset 0 2px 1px #696969;
  color: var(--black-main);
}

/* Products */

.products {}
.products__title {}
.products__list {
  display: grid;
  gap: 40px 26px;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  margin: 0;
  padding: 0;
}
.products__item {}

/* Products item */

.products-item {
  display: block;
  height: 320px;
  position: relative;
}
.products-item:hover {
  z-index: 2;
}
.products-item__content {
  border-radius: var(--base-radius);
  margin: -6px -13px 0px -13px;
  padding: 6px 13px 21px 13px;
  pointer-events: none;
}
.products-item:hover .products-item__content {
  background-color: var(--bg-white-hover);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  pointer-events: all;
}
.products-item__hit-label {
  background-color: var(--text-white);
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 0;
}
.products-item__image {
  border-radius: 50%;
  margin-bottom: 8px;
}
.products-item__price {
  color: var(--text-white);
  font-size: 45px;
  font-weight: bold;
  line-height: 41px;
  margin: 0;
  position: absolute;
  text-shadow: var(--text-shadow);
  top: 211px;
}
.products-item__price small {
  font-size: 30px;
}
.products-item__title {
  color: var(--text-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  text-align: center;
}
.products-item__link {
  color: inherit;
  text-decoration: none;
}
.products-item__button {
  display: block;
  height: 44px;
  margin: 8px auto 0 auto;
  opacity: 0;
  padding: 10px 16px 14px 16px;
  transform: translateX(-1px);
  width: 200px;
}
.products-item:hover .products-item__button {
  opacity: 1;
}

/* About */

.about {
  background-image: url("../img/vaffle-pattern.svg");
  border-radius: 16px;
  color: var(--black-main);
  min-height: 306px;
  padding: 24px 20px;
}
.about__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 16px 0;
}
.about__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.about__item {}

/* About item */

.about-item {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
}
.about-item__icon {
  height: 49px;
  margin: -9px 6px 0 0;
  width: 49px;
}
.about-item__text {
  line-height: 22px;
  margin: 0;
}

.contacts {
  position: relative;
}
.contacts__title {}
.contacts__map {
  background: url("../img/map.jpg") 50% 50% / cover no-repeat;
  height: 430px;
  width: 100%;
}
.contacts__info {
  background-color: var(--text-white);
  border-radius: 16px;
  color: var(--black-main);
  font-size: 14px;
  left: calc(50% + 270px);
  line-height: 20px;
  min-height: 306px;
  padding: 29px 25px 18px 25px;
  position: absolute;
  top: 62px;
  width: 303px;
}
.contacts__address {
  margin: 0;
}
.contacts__address-description {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 21px;
  letter-spacing: 0.2px;
}
.contacts__phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--black-main);
  text-decoration: none;
  display: block;
  margin: 3px 0 -1px 0;
}
.contacts__phone-order {
  margin: 0;
}
.contacts__time {
  margin: 0 0 38px 0;
}
.contacts__button {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 28px 11px 28px;
}

.page-title {
  color: var(--text-white);
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin: 1px 0 29px 0;
}

.window-wrapper {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: none;
  left: 0;
  pointer-events: all;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.window-wrapper_show {
  display: block;
}

.feedback {
  background: #F8F7F4;
  border-radius: 6px;
  height: 441px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 477px;
}
.feedback__form {
  padding: 16px 25px 27px 24px;
}
.feedback__form .text-field__input {
  padding: 12px 13.5px;
}
.feedback__title {
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 0 -0.5px;
}
.feedback__close {
  background: transparent url("../img/icon-close.svg") 50% 50% no-repeat;
  border: none;
  cursor: pointer;
  height: 44px;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  transform: translate(-0.5px, -0.5px);
  width: 44px;
}
.feedback__fullname {
  margin-top: 20px;
  width: 267px;
}
.feedback__email {
  margin-top: 20px;
  width: 267px;
}
.feedback__comment {
  margin-top: 20px;
}
.feedback__comment .text-field__input {
  height: 154px;
  resize: none;
}
.feedback__submit {
  float: right;
  margin-top: 25px;
  padding: 11px 22.5px 9px 22px;
  transform: translate(0.5px, -0.5px);
  width: 140px;
}

/* TODO */

.blog-container {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  min-height: 220px;
  padding: 0;
}
.blog {
  height: 100%;
  background-image: url("../img/bg-blog.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 18px 20px 23px 20px;
  border-radius: 16px;
}
.blog__title {
  color: var(--black-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 3px 0;
}
.blog__text {
  margin: 0;
  position: relative;
}
.blog__text a {
  color: var(--black-main);
  line-height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.blog__line {
  background: var(--black-main);
  height: 2px;
  position: absolute;
  left: 1px;
}
.blog__line_top {
  width: 278px;
  top: 25px
}
.blog__line_middle {
  width: 266px;
  top: 55px
}
.blog__line_bottom {
  width: 62px;
  top: 85px
}

.subscribe {
  background-image: url("../img/subscribe-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 29px 17px 35px 26px;
  border-radius: 16px;
}
.subscribe__text {
  color: var(--black-light);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 37px 0;
}
.subscribe__form {
  position: relative;
}
.subscribe__form-input {
  margin-right: 7px;
  position: absolute;
  top: 4px;
  width: 367px;
}
.subscribe__form-input .text-field__input {
  border-radius: 6px;
  padding: 15px 0 14px 13px;
}
.subscribe__button {
  padding: 2px 20px 0px 19px;
  height: 44px;
  position: absolute;
  top: 3px;
  left: 378px;
}
